body {
    background-color: #14120B;
    color: white;
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 130px;
    align-items: center;
}

.nav-2 ul {
    display: flex;
    list-style: none;
    gap: 30px;

}

.nav-2 a {
    text-decoration: none;
    cursor: pointer;
}

.nav-3 {
    display: flex;
    gap: 5px;
}

.nav-button1 {
    background-color: #14120B;
    color: white;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 15px;
    padding: 4px 10px;

    font-weight: bold;

}

#second-button {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 4px 10px;
    font-weight: bold;
}

.nav-1 {
    display: flex;
    align-items: center;
}

.nav-1 img {
    width: 60px;
    height: auto;
}

.hero-section {
    padding: 100px 90px 70px 110px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

}

.hero-section h2 {
    font-size: 27px;
    font-weight: 500;
    font-family: sans-serif;
}

.cta {
    margin-top: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
}

.cta {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.cta-arrow {
    width: 16px;
    height: 16px;
    margin-top: 2px;
}

.product-ss {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.product-ss img {
    width: 100%;
    border-radius: 10px;
}

.trusted-by {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 5px;


}

#trusted-logo {
    width: 145px;
    height: 100px;
    background-color: #1B1913;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #21201b;
}

#trustedby-p {
    color: #ffff;
    font-size: 14px;
    margin-top: 30px;
}

#trusted-logo img {
    width: 80px;
    height: auto;
}

.feature {
    display: flex;
    width: 85%;
    margin: 5% auto;
    justify-content: space-between;
    background-color: #21201b;
    border-radius: 10px;
    align-items: center;
    padding: 25px;
    gap: 20px;
}

.feature-content {
    max-width: 500px;
}


.feature-content.right {
    padding-right: 30px;
}

.feature h3 {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
}

.feature-img {
    width: 800px;
    height: auto;
    border-radius: 10px;
}

.feature-a {
    text-decoration: none;
    color: #BF4105;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 21px;
}

.feature-arrow {
    margin-top: 5px;
    width: 14px;
    height: 14px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 85%;
    margin: 5% auto;
}

.card {
    background: #1B1913;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #1E1E1E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card p {
    color: #C2C2C2;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Questrial', sans-serif;
    ;

}

.profile {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.profile h4 {
    margin: 0;
    font-size: 14px;
}

.profile span {
    color: #9A9A9A;
    font-size: 12px;
}

#grid-h2 {
    font-size: 30px;
    font-family: 'Questrial', sans-serif;
}

.frontier-title {
    padding-left: 120px;
    padding-top: 30px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.row {
    width: 85%;
    margin: 40px auto;
    display: flex;
    gap: 20px;
}

.row-card {
    background: #1B1913;
    border: 1px solid #1f1f1f;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    flex: 1;
}

.content {
    margin-bottom: 15px;
}

h3 {
    margin: 0 0 8px 0;
    font-weight: 500;
}

p {
    color: #aeaeae;
    font-size: 14px;
    line-height: 1.4;
}

.link {

    margin-top: 10px;
    color: #ff6b00;
    text-decoration: none;
    font-size: 14px;
}

.card-img {
    width: 100%;
    height: 320px;
    border-radius: 8px;
    object-fit: cover;
}

.title {
    padding-left: 120px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 100px;
}

.changelog-row {
    display: flex;
    gap: 16px;
    width: 85%;
    margin: 5px auto;

}

.log-card {
    flex: 1;
    background: #1B1913;
    border: 1px solid #1f1f1f;
    border-radius: 6px;
    padding: 16px 18px;

}

.version {
    display: inline-block;
    background: #1a1a1a;
    border: 1px solid #2a2a2a;
    padding: 4px 8px;
    border-radius: 999px;
    font-size: 12px;
    margin-bottom: 6px;
}

.date {
    font-size: 13px;
    color: #bfbfbf;
    margin-bottom: 6px;
}

.log-card h3 {
    margin: 6px 0 0 0;
    font-size: 16px;
    font-weight: 500;
}


.changelog-link {
    text-decoration: none;
    color: #BF4105;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding-left: 120px;
}

.changelog-arrow {
    margin-top: 5px;
    width: 14px;
    height: 14px;

}

.top-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

.research-panel {
    display: flex;
    width: 80%;
    margin: 5% auto;
    justify-content: space-between;
    background-color: #1B1913;
    border-radius: 10px;
    align-items: center;
    padding: 25px;
    gap: 20px;
    max-width: 100%;
}

.research-content {
    max-width: 520px;
}

.research-content h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
}

.research-link {
    text-decoration: none;
    color: #BF4105;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
}

.research-arrow {
    width: 14px;
    height: 14px;
    margin-top: 5px;
}

.research-img {
    width: 800px;
    height: auto;
    max-width: fit-content;
    border-radius: 10px;
}

.cta-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#cta-h1 {
    font-weight: 500;
    font-size: 68px;
    margin: 0;
}

.download-btn {
    background: white;
    color: black;
    padding: 10px 18px;
    border-radius: 999px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.footer {
    padding: 60px 80px 30px;
    background: #1B1913;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 60px;
    padding-right: 170px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #999896;
}

.col a {
    color: #ffff;
    text-decoration: none;
    font-size: 13px;
    font-size: 15px;
}

.col a:hover {
    color: white;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #bfbfbf;

    padding-top: 20px;
}

.link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.arrow-icon {
    width: 14px;
    height: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #bfbfbf;
    padding-top: 20px;
}

.footer-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme-group {
    display: flex;
    align-items: center;
    background: #26241E;
    border: 1px solid #2a2a2a;
    border-radius: 999px;
    padding: 4px;
}

.seg-btn {
    background-color: transparent;
    border: none;
    width: 33px;
    height: 21px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lang-pill {
    background: #26241E;
    border: 1px solid #2a2a2a;
    border-radius: 999px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.control-icon {
    width: 16px;
    height: 16px;

}