:root{
    --font-primary: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
body{
    margin: 0;
     font-family: var(--font-primary);
    background-image: url(./assets/bg-dark.svg);
    background-size: 100% auto;
    background-position: center -100px;
    background-repeat: no-repeat;
    background-color: #08090A;

}

.navbar{
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 16px 80px;
    backdrop-filter: blur(10px); 
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img{
    width: 100px;
}

.nav-links{
    display: flex;
    gap: 16px;
    padding-left: 96px;
}

.nav-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;       
    border-radius: 15px;             
    transition: all 0.1s ease;      
}

.nav-links a:hover{
    color: white;
    background: rgba(255, 255, 255, 0.08); 
}

.buttons{
    display: flex;
    gap: 12px;
}

.contact-btn{
    background-color: #ffffff1e;
    color: white;
    padding: 8px 16px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 14px;
    border: transparent;
}

.start-btn{
    background: white;
    border: none;
    color: black;
    padding: 8px 16px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.start-btn:hover{
    background-color: #d6d6d6;
}


.hero{
    text-align: center;
    padding: 40px 20px;
}

.badge{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.13);
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 14px;
    backdrop-filter: blur(5px);
}
.arrow img{
    width:16px;
    margin-top: 6px;
}
.badge:hover{
    background: rgba(122, 122, 122, 0.08);;
}
.new{
    background: #0fd9a0;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 2px 8px;
    border-radius: 999px;
    font-size: 12px;
}
.hero h1{
    
    margin-top: 20px;
    color:#ffffff;
    font-size: 64px;
    font-weight: 700;
    margin: 24px 0 16px;
    line-height: 1.1;
}

.hero p{
    max-width: 600px;
    margin: 0 auto 32px;
    margin-top: 30px;
    font-size: 18px;
    color: #d1d5db;
}
.cta{
    display: flex;
    justify-content: center;
    position: relative;  
    width: fit-content;  
    margin: 0 auto;        
}

.cta input{
    padding: 14px 18px;
    padding-right: 20px;

    border-radius: 999px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.05);
    color: white;
    outline: none;
    width: 300px;    
    backdrop-filter: blur(15px);
}

.cta input::placeholder{
    color: #acacac;
   font-size: 14px;
}

.cta button{
    position: absolute;
    right: 5px;             
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 18px;
    border-radius: 999px;
    border: none;
    background: rgb(239, 239, 239);
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.cta button:hover{
    background: #d6d6d6;
}

.hero-center-img{
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.hero-center-img img{
    margin-top: 60px;
    width: 72%;   
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}